@import url('font-family.css');



body{
	font-family: 'Roboto', sans-serif;
	font-size: 	14px;
	color: #333;
  background: #e9ebee;
  /* overflow-y: scroll; */
}

.container{
  /* width: 100%; */
}


body, header, article, footer{
	font-family: 'Roboto', sans-serif;

}


.suggestion_filter{
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 1;
  padding: 15px 0px;
}

.suggestion_filter ul{
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}

.suggestion_filter li{
  padding: 7px 8px;
}

.suggestion_filter ul > li:hover{
  background: #FF8126 !important;
  color: white !important;
  cursor: pointer;
}

.f-left{
  float:left;
}
.f-right{
  float:right;
}

.hidden-overflow{
  /* overflow: hidden; */
}

.redwine{
  background: #990012 !important;
  color: white !important;
}

.munsell{
  background: #F2003D !important;
  color: white !important;
}

.redorange{
  background: #FC4E07 !important;
  color: white !important;
}

.darkgrey{
  background: #474646 !important;
  color: white !important;
}

.lightgrey{
  background: #909090 !important;
  color: white !important;
}

.bg-white{
  background: white;
}
.color-redorange{
 color: #dc0202; 
}

/* vueityfy */
.calendar-container .v-toolbar__content{
  padding-left: 0;
  padding-right: 0;
}
.v-menu__content--fixed {
  position: fixed !important;
  left: auto !important;
  right: 32px !important;
}

.calendar-dropdown ul{
  padding: 0;
}

.calendar-dropdown .btn .caret {
  position: inherit;
  bottom: 11px;
  right: 0;
}


.v-calendar-daily__scroll-area{
  display: none;
}


.v-calendar-daily__intervals-head {
  border-right: 0 !important;
}

/* end */

label{
  font-weight: inherit;
}


.alert-notification{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}
.hide{
  display: none;
}

.text-center{
  text-align: center;
}

.x-scroll{
  overflow-x: scroll;
}

.y-sroll{
  overflow-y:scroll;
}
/* spacing */
.nopadding{
  padding: 0;
}

.nopadding-left{
  padding-left: 0;
}

.nopadding-right{
  padding-right: 0;
}

.with-margin-bottom {
  margin-bottom: 16px;
  z-index: 1;
}

.nomargin{
  margin: 0;
}

.noborder{
  border: 0;
}

.margin-top-58{
  margin-top: 58px;
}

.padding-15{
  padding: 15px;
}
.padding-43{
  padding-left: 43px;
  padding-right: 43px;
}


.nostyle-list{
    list-style: none;
}


/* zindex */
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}
.z-3{
  z-index: 3;
}
.z-9{
  z-index: 9;
}

.z-10{
  z-index: 10;
}
/* done */

.normal-weight{
  font-weight: normal;
}

.bold-weight{
  font-weight: bold;
}

.even-padding{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.bg-light-orange{
  /* background: #ffe0b2; */
  color: #ff3d00;
}

.tr-pending{
  /* color: #ff3d00; */
}
.tr-verified{
  color: #36ab38;
}
.tr-approved{
  color: #337ab7;
}
.tr-rejected{
  color: #ff3d00;
}

.tr-executed{
  color: #283db3;
}


/* multi select */
.dropdown-menu>li>a {
  display: block;
  padding: 3px 30px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.multiselect.btn{
  border-top:0;
  border-right: 0;
  border-left: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #999;
  text-align: left;
  padding-top: 0;
  font-size: 12px;
}

.btn-group{
  width: 100%;
  margin-top: 27px;
}

.multiselect.dropdown-toggle.btn.btn-default{
  width: 100%;
}
.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
  background-color: transparent;
}

.btn:active{
  box-shadow: none;
}
.btn-default:active:focus{
  background-color: transparent;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: transparent;
  background-image: none;
  border-color: none;
}

.btn .caret {
  position: absolute;
  bottom: 11px;
  right: 0;
}

.multiselect-container label{
  font-weight: normal !important;
  cursor: pointer;
}
.multiselect-container input{
  cursor: pointer;
}


.width-100{
  width: 100%;
}

a{
  cursor: pointer;
}

span.approverlist{
  margin: 2px;
  border-radius: 8px;
  padding: 4px 8px;
}

.padding-20{
  padding-left: 20px;
  padding-right: 20px;
}


/* LAYOUT */
.dflex{
  display: flex;
  height: 100%;
}

.d-align-baseline{
  align-items: baseline;
}

.dflex.d-align-center {
  align-items: center;
}

.dflex.justify-space-between{
  justify-content: space-between;
}

.dflex.justify-content-center{
  justify-content: center;
}
.dflex.flex-wrap{
  flex-wrap: wrap;
}

.dflex .flexgrow-1{
  flex-grow: 1;
}



/*LOGIN*/
html.login{
  height: 100%;
}
body#login{
	background:url('../images/NTbackground.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.login-container{
	position: relative;
}


.login-form{
    background: rgba(255,255,255,0.7);
    width: 100%;
    max-width: 330px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,30%);
    border-radius: 20px;
    /* border-top: 2.5px solid #bf263a; */
}

.login-form:after {
  content: "";
  position: absolute;
  border-top: 2.5px solid #bf263a;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  border-radius: 20px;
}


.login-header{
	padding: 40px 40px 8px;
}

.login-body{
	padding: 0px 60px 40px;
	/*border-top: 2.5px solid #1F7193;*/
}

.login-body .group-btn{
	margin-top: 42px;
}
.login-footer{
	border-top: 0.1px solid #be2639;
    padding: 15px 40px;
    text-align: center;
    color: #85878a;
}

.fullwidth-mdb-btn{
  width: 100%;
}
/*END LOGIN*/

/* NAV */

.burger-mobile{
  /* border: 1px solid #0077B5; */
  padding: 0;

}
.burger-mobile .icon-bar{
  /* background: rgba(0, 0, 0, 0.5); */
  background: #0077B5
}

.close-mobile-nav{
  display: none;
  right: 7px !important;
}


/* END NAV */



/* HEADER */
header.nt-main-header{
	/*min-height: 60px;*/
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 4;
  padding-bottom: 8px;
  padding-top: 8px;
}

.comp-logo{
  max-width: 278px;
  text-align: center;
}

.comp-logo img{
  width: 100%;
  max-width: 200px;
  height: auto;
}

/* END */
hr {
  border-top: 1px solid #1F7193;
}


/* SIDEBAR */
.relative-pos{
  position: relative;
}

.absolute-pos{
  position: absolute;
}

.half-banner {
  min-height: 66px;
  background: #1F7193;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.avatar-name{
  color:#3f51b5;
}

img#avatar {
  width: 100%;
  border-radius: 50%;
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  position: relative;
  z-index: 2;
}

img#avatar-lg{
  border-radius: 50%;
  width: 100%;
  max-width: 137px;
  min-width: 137px;
  max-height: 137px;
  min-height: 137px;
  cursor: pointer;
  position: relative;
  /* z-index: 1; */
}

img#avatar-md{
  border-radius: 50%;
  width: 100%;
  position: relative;
  max-width: 77px;
  min-width: 77px;
  min-height: 77px;
  height: 77px;
  border: 3px solid #fff;
  object-fit: cover;
}

img#avatar-sm {
  width: 100%;
  border-radius: 50%;
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  position: relative;
  z-index: 2;
}

img#avatar-xs {
  width: 100%;
  border-radius: 50%;
  min-width: 41px;
  max-width: 41px;
  min-height: 41px;
  max-height: 41px;
  position: relative;
  z-index: 2;
}


img#user-avatar-profile-md{
  width: 129px;
  border-radius: 6px;
}

.profile-cam-icon{
  display: inline-block;
  position: absolute;
  background: #E5E6EA;
  padding: 4px 8px;
  color: #333;
  border-radius: 50%;
  right: -4px;
  bottom: 4px;
  cursor: pointer;
}
.profile-cam-icon:hover{
  color: #0284bf;
}

.avatar-container{
  padding-top: 22px;
  text-align: center;
}

.content{
  background: #fff;
}

.overflow-auto{
  overflow: auto;
}

.numeric-leaves {
  font-size: 29px;
  color: #1F7193;
}

ul.sidebarpanel{
  list-style: none;
  margin: 0;
  padding: 0;
}



/* PANEL */
.panel-default>.panel-heading {
  color: #fff;
  background-color: #1F7193;
  border-color: #ddd;
  text-transform: uppercase;
}

.panel-title{
  font-size: 13px;
}


/* END SIDEBAR */

/* #0284bf
#2b93c5
#3c7ab3
*/

/* payslip accordion */
#payslip-accordion .panel-default>.panel-heading {
  color: #fff;
  background-color: #0284bf;
  border-color: #ddd;
  text-transform: uppercase;
}

/* PAYSLIP TABLE*/
#slip-header-logo{
  width: 300px;
}

#pdfCanvas{
  width: 100%;
}

.table-payslip{
  width: 100%;
}

.table-payslip>tbody>tr>td, .table-payslip>tbody>tr>th, .table-payslip>tfoot>tr>td,
.table-payslip>tfoot>tr>th, .table-payslip>thead>tr>td, .table-payslip>thead>tr>th{
  padding: 8px;
}

.table-payslip.breakword>tbody>tr>td, .table-payslip.breakword>tbody>tr>th, .table-payslip.breakword>tfoot>tr>td,
.table-payslip.breakword>tfoot>tr>th, .table-payslip.breakword>thead>tr>td, .table-payslip.breakword>thead>tr>th{
  word-wrap: break-word;

}


/* MAIN */
.margin-top-20{
  margin-top: 20px;
}
.header-title {
  background: #1F7193;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  text-align: center;
}
.margin-15{
  margin-top: 30px;
}
.margin-bottom-15{
  margin-bottom: 30px;
}
.header-title h4 {
  margin: 0;
  padding: 0;
}

/* END MAIN */


/* DIRECTORY */
.page-title{
  background: #1F7193;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}


/* GALLERY */
.dflex > .gallery{
  width: 33%;
  padding: 6px;
  /* margin: 6px; */
  border-radius: 4px;
}
td.gallery-profile-name {
  padding-left: 12px;
}
.font-weight-bold {
  font-weight: 600;
}


.gallery:nth-child(4n+3) div.directory-quote{
  border-left: 5px solid #0077B5;
  padding-left: 14px;
}

.gallery:nth-child(4n+2) div.directory-quote{
  border-left: 5px solid #D73A4D;
  padding-left: 14px;
}

.gallery:nth-child(4n+1) div.directory-quote{
  border-left: 5px solid #57C0E1;
  padding-left: 14px;
}
.gallery:nth-child(4n+0) div.directory-quote{

  border-left: 5px solid #FF8126;
  padding-left: 14px;

}

.gallery div.directory-quote p{
  word-break: break-word !important;
}

/* POLICY */
.panel-body .policy-navs{
  font-size: 12px;
  line-height: 1.42857143;
  color: #FF8126;
  /* white-space: nowrap; */
  padding-top: 12px;
}
.panel-body .policy-navs a{
  font-size: 14px;
  display: block;
}


.panel-body .policy-navs:first-child{
  padding-top: 0px;
}
/* VIDEOS */
.dflex > .vid-thumbnail{
  width: 50%;
  padding: 6px;
  /* margin: 6px; */
  border-radius: 4px;
}


.close.vid-close {
  position: relative;
  top: -4px;
}


.gallery div.vid-gallery{
  border-top: 3px solid #0077B5;
  border-bottom: 3px solid #0077B5;
  padding-left: 14px;
}

.vid-thumbnail div.vid-gallery{
  border-top: 3px solid #0077B5;
  border-bottom: 3px solid #0077B5;
  padding-left: 14px;
}

/* COMPANY PROFILE */
.teal{
  background: #1BB4A4;
}
.orange{
  background: #DF8E4D;
}
.neon{
  background: #78BC69;
}

.comp-profile-divider{
  margin: 0 auto;
  width: 413px;
  position: relative;
  z-index: 9;
}

.comp-profile-divider:before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 2px dotted #C4C4C4;
  top: 8px;
  z-index: -1;

}

.dots{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background: #57C0E1; */
  display: block;
  /* vertical-align: middle; */
}

.dots.md{
  width: 18px;
  height: 18px;
}

.comp-profile-box{
  /* border: 2px solid #0e0e0e1f; */
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
  min-width: 327px;
}
.comp-profile-box:after{
  content:"";
  position: absolute;
  width: 100%;
  height: 31px;
  top: 0;
  background: #3C3C3C;
}
.comp-profile-box .dflex.teal
{
  /* border-top: 2px solid #039BE5; */
  background: #1BB4A4;
}
.comp-profile-box .dflex.neon
{
  /* border-top: 2px solid #F57C00; */
  background: #78BC69;
}
.comp-profile-box .dflex.orange
{
  /* border-top: 2px solid #F57C00; */
  background: #DF8E4D;
}


.comp-profile-title{
  color: #fff;
  position: relative;
  z-index: 9;
  padding: 6px 0;
}

.comp-profile-details{
  padding: 0 15px;
}


.comp-profile-details a{
  color: #333;
  text-decoration: none;
}

.comp-profile-details a:hover{
  color: #333;
  text-decoration: none;
}


  /* columns */
.comp-profile-img-overlay{
  position: relative;
  cursor: pointer;
}
.comp-profile-img-overlay:after{
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(255 255 255 / .8);
  height: 100%;
}

.back-btn{
  padding: 0 10px 0 0;
}

.back-btn:hover{
  color: #1BB4A4;
}

.comp-profile-container .col-md-4{
  margin: 8px 0px
}



/* END */



/* FORM */

span.dblUnderlined {
  border-bottom: 0.5px dotted;
  color: #3f51b5;
  line-height: 39px;
}

.form-subtitle em {
  display: block;
  background: #3f51b5;
  padding: 5px;
  color: #fff;
  font-weight: normal;
}

.form-subtitle {
  margin-bottom: 21px;
  text-indent: 12px;
}
p.form-note, span.form-note {
  font-size: 11px;
  font-style: italic;
  line-height: 16px;
  color: #3f51b5;
}



/* DATEPICKER */
.vdp-datepicker__calendar{
  position: fixed !important;
  width: 258px !important;
}
.vdp-datepicker__calendar .cell {
  height: 35px !important;
  line-height: 35px !important;
}

.datepicker-relative.vdp-datepicker__calendar{
  position: relative !important;
  width: 100% !important;
}

.vdp-datepicker__calendar.disable-dates-approver:after{
  position: absolute !important;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: transparent;
  z-index: 9;
}
/* END */


/* DATATBLE */
.mdl-data-table td, .mdl-data-table th {
  text-align: left !important;
}

.mdl-data-table th {
  text-transform: uppercase;
}

td.row-limit{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table>thead>tr>th{
  min-width: 150px;
}

.table>tbody>tr>td{
  white-space: nowrap;
}

span.errors.absolute{
  position: absolute;
}

span.errors{
  color: red;
  font-size: 11px;

}



/*POST*/
img#post-avatar{
  border-radius: 50%;
}
img#avatar-lg{
  border-radius: 50%;
  width: 100%;
  max-width: 137px;
  min-width: 137px;
  max-height: 137px;
  min-height: 137px;
  cursor: pointer;
  position: relative;
  /* z-index: 1; */
}

.main-post:first-child{
 margin-top: 20px;
}
.main-post{
  margin-bottom: 20px;
 }

 /* BUTTONS */
button.btn.round {
   border-radius: 30px;
   padding-left: 15px;
   padding-right: 15px;
   /* margin-right: 10px; */
}

button.btn.round:focus {
   outline: none;
}

.slipdates{
  margin: 4px 7px;
  border-radius: 17px;
}

label.btn.round {
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  /* margin-right: 10px; */
}




.post-container{
 width: 100%;
 min-height: 110px;
 background: #fff;


}


.post-avatar, .post-textarea{
  margin: 10px;
}

.post-header-data, .post-content{
 padding: 0 20px;
}

.post-header-data{
 padding-top: 10px;
}

.post-bar{
 background: #1F7193;
 padding: 8px 20px;
}

.post-title{
 color: #FFFFFF;
}


.post-action{
 color: gray;
}

.b-radius{
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.post-tags, .post-msg {
  margin: 10px;
}

.tag-row{
  margin: 10px;
}

.tag-icons{
  color: #3f51b5;
}

.tag-icons i{
  display: inline-block;
  padding-left: 11px;
}



textarea#textarea-post{

	width:100%;
	border: none;
  resize: none;
  background: transparent;
  font-size: 1em;
  box-sizing: border-box;
  position: relative;
  top: 10px;
  height: 45px;
}
textarea:focus{
	outline: none;
}

.attachments{
  color: #2e6da4;
}




hr#narrow-margin{
  margin-top: 10px;
  border-top: 1px solid #e8e8e8;
}

hr#narrow-margin-post{
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #e8e8e8;
}

th.narrow-width, td.narrow-width{
  width: 66px;
}

.inline-blocklbl{
  top: -3px;
  display: inline-block;
}

.inline-blocklbl.mdblbl:hover input ~ .mdbcheckmark,
.mdblblradio.inline-blocklbl:hover input ~ .checkmark {
  background-color: #a8d2f3;
}

.inline-blocklbl.mdblbl .mdbcheckmark,
.mdblblradio.inline-blocklbl .checkmark
 {
  background-color: #ccc;
}


.post-header.post-header-notitle{
  margin-top: 10px;
}


/* comments */
.txtarea-comment{
  background: rgba(0, 0, 0, 0.05);
  padding: 8px;
  border-radius: 8px;
}

.comment-list{
  background: rgba(0,0,0,0.1);
  padding: 8px;
  border-radius: 8px;
  position: relative;
  /* margin: 0 0 24px; */
  margin: 0 0 10px;
}

.comment-actionx{
  text-align: right;
  cursor: pointer;
}

.comment-action{
  position: relative;
  text-align: right;
  bottom: 9px;
  display: none;
  transition: 1s;
}

.comment-wrap:hover .comment-action{
  display: block;
}

.comment-action span:hover{
  text-decoration: underline;
  cursor: pointer;
  
}

.more-comments:hover{
  text-decoration: underline;
  cursor: pointer;
}


/* BS MODAL */
/* body{
  background: red;
} */
/* END */


.trriger-modal-overlay-video{
  position: absolute;
  top:0;
  width:100%;
  bottom: 71px;
  /* outline: 1px solid;  */
  z-index: 1;
  background: transparent;
}

.trriger-modal-overlay{
  position: absolute;
  top:0;
  width:100%;
  bottom: 0px;
  /* outline: 1px solid;  */
  z-index: 1;
  background: transparent;
}

button.close.modal-announcement-close {
  top: -19px;
  position: relative;
}

.post-date-diff{
  font-size: 11px;
  color: darkgray;
}



/* modal tags */
.modal-dialog.modal-sm .modal-content .modal-body {
  max-height: 600px;
  overflow: auto;
}

/* NOTIFS */
body.push-notification .tooltip-inner{
  max-width: 200px !important;
  min-width: 200px;
}

.popover-content{
  height: 100%;
  max-height: 250px;
  overflow: auto;
}

ul.sidebarpanel.notif-list{
  line-height: 17px;
}

ul.sidebarpanel.notif-list li{
  font-size: 13px;
  color: gray;
}

ul.sidebarpanel.notif-list li:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.075);
  padding-bottom: 6px;
  margin-bottom: 6px;
}

ul.sidebarpanel.notif-list li i{
  font-size: 11px;
  color: darkgray;
}

ul.sidebarpanel.notif-list li:hover {
  background: rgba(0, 0, 0, 0.03);
}

.notifs span.notif-icon-container {
    margin-left: 14px;
    cursor: pointer;
}




.notifs span i{
  font-size: 1.6em;
  color: #1F7193;
}

span.notif-counter {
  /* margin: 4.5px; */
  margin-left: 9px;
  position: absolute;
  /* top: -10px; */
  top: -8px;
  background: #bb1e1b;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #ffff;
  font-size: 11px;
  line-height: 20px;
}



.pending-stat-notif{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #bb1e1b;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  color: white;
  margin-left: 4px;

}


.panel-title a{
  display: block;
  position: relative;
}

.panel-title a span.pending-stat-notif{
    bottom:0;
    line-height: 1.5;
}

.panel-heading.form-subtitle{
  padding: 0;
  margin: 0;
}

.panel-heading.form-subtitle .form-subtitle{
  margin: 0;
}

blockquote {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  border-left: 0 solid #ccc;
  margin: 1.5em 10px 0px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 12px;
  padding: 0;
  font-style: normal;
  letter-spacing: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  visibility: hidden;
  content: close-quote;

}






/* PROGRESS BAR */
.progress{
  height: 100%;
  margin-left: 7px;
}
.progress-bar{
  padding: 7px 0px;
  /* background-color: #208dca; */
}


/* VIDEOS */
.close.vid-close {
  position: relative;
  top: -4px;
}


.gallery div.vid-gallery{
  border-top: 3px solid #0077B5;
  border-bottom: 3px solid #0077B5;
  padding-left: 14px;
}



/* MODAL */
.post-close-btn{
  position: relative;
  right: -5px;
  top: 5px;
}


/* WORK REQUEST */
.workrequestfile_label{
  color: #3f51b5;
  cursor: pointer;
}
.far.fa-images{
  font-size: 30px;
}



/* SCROLL */
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px !important;
}




/* horizontal */
::-webkit-scrollbar:horizontal {
  height: 5px !important;
}

/* Track */
::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: darkgray;
  border-radius: 10px;
}


::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px !important;
}


/* horizontal */
::-webkit-scrollbar:horizontal {
  height: 5px !important;
}

.dataTables_scrollBody::-webkit-scrollbar:horizontal {
  height: 8px !important;
}
/* Track */
::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb:horizontal {
  background: darkgray;
  border-radius: 10px;
}





/* END SCROLL */

/* @media screen and (max-width:414px) {
  .container{
    padding: 0px;
  }
}

[v-cloak] {
  display: none;
}
 */





/* POPOVER */
.popover{
  padding: 0;
}

.popover-title{
  background: #337ab7;
  color: #fff;
  padding: 8px;
}


.v-popover .btn.btn-info.round {
  display: inline-block;
  border-radius: 30px;
}

 .tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
  text-align: left;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}


.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}


.tooltip.popover .popover-arrow {

  border-bottom-color: rgba(0,0,0,.25);
  border-width: 10px;
  top: -19px;
}
.tooltip.popover .popover-arrow:after {
  content: " ";
  border-style: solid;
  position: absolute;
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -9px;
  left: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-color: #337ab7;
  border-width: 10px;
  /* z-index: 99; */
}

.tooltip.popover:focus{
  outline: none;
}

.popover-inner .input-group-addon {
  background-color: #fff;
}

.fa-search:before {
  color: #337ab7;
}


ul.emplist li{
  display: block;
  margin: 4px 0px;
}

ul.nopadding.nomargin.nostyle-list.emplist li:last-child label {
  margin-bottom: 0px;
}



/* ANIMATIONS */
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  /*=== Optional Delays, change values here  ===*/
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}


/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#printArea{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  visibility: hidden;
}

#printArea .float-list li{
  float: left;
  margin-left: 30px;
}
#printArea .borders{
  border: 1px solid gray;
}

/* PRINT SECTION */

@media screen {
  #printSection {
      display: none;
  } 
}

@media print {
  body * {
    visibility:hidden;
  }
  body.visible * {
    visibility:visible !important;
  }
  body div#root article section:first-child{
    display: none;
  }

  /* #slip-header-logo{
    width: 400px;
  } */

  .cols-2{
    width: 50%;
  }
  .hidden-print{
    display: none;
  }

  #printSection, #printSection * {
    visibility:visible;
    position: relative;
  }
  #printSection {
    margin: 44px;
    position:absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
  }
  #printArea{
    visibility:visible;
  }
}

@page { size: auto;  margin: 0mm; }

/* 404 page not found */
.pagenotfound{
  min-height: 50vh;
}

.pagenotfound .code{
  font-size: 40px;
  padding: 0px 10px;
  border-right: 2px dotted #3f51b5;
  font-weight: bold;
  color: #3f51b5;
}
.transparent{
  background: rgba(255,255,255, 0.5);
}



@media (min-width: 992px){
  .modal-lg.supplementary-modal {
      width: 1024px;
  }
}


/* .modal.in .modal-dialog,
.modal.fade .modal-dialog {
-webkit-transform: inherit !important;
-moz-transform: inherit !important;
-o-transform: inherit !important;
transform: inherit !important;
} */


body.modal-open {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}



@media only screen and (max-width: 991px) {
  .dflex.block-mobile{
    display: block;
  }
  .dflex.block-mobile > .gallery {
      width: 100%;
      padding: 6px;
      border-radius: 4px;
  }
}

@media only screen and (max-width: 767px) {
  .loader-fixed{
    left: 50%;
  }
  .login-form{
    max-width: 284px;
    transform: translate(50%,20%);
  }
  .login-body{
    padding: 0px 36px 40px;
  }
  body.hide-backdrop .modal-backdrop{
    display: none;
  }

  /* .modal-backdrop{
    display: none;
  } */
  .close-mobile-nav{
    display: block;
    position: absolute;
    background: #3f51b5;
    top: 4px;
    right: 0px;
    z-index: 1;
    border: 1px solid rgba(255,255,255,.5);
  }

  article section.relative-pos{
    max-width: 100%;
  }

  .left-Side-Bar{
    /* display: none; */
    position: fixed;
    height:100%;
    width: 100%;
    max-width: 350px;
    overflow-y: auto;
    padding:0;
    z-index: 10;
    left: -1000px;
    top: 0;
    transition: 1s;
  }

  body.modal-open .left-Side-Bar{
    overflow-y: hidden;
  }
  .left-Side-Bar-show:before{
    content:"";
    background: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    overflow-y: auto;
    bottom:0;
    padding:0;
    left:0px;
    top: 0;

  }

  .left-Side-Bar-show{
    transition: 1s;
    left: 0px;
  }
  .left-SideBar-show:before{
    left: 0px;
    transition: 3s;
  }

  /* datatable */
  div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
  }
  .col-lg-6.col-md-6.with-margin-bottom.nopadding .btn{
    margin-top: 8px;
  }
}


/* POST TEXTAREA */
/* .textarea-post::-webkit-scrollbar {
  width: 4px !important;
}

.textarea-post::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.textarea-post::-webkit-scrollbar-thumb {
background-color: #3f51b5;
  outline: 1px solid slategrey;
  border-radius: 10px !important;
} */



/* LEFT SIDEBAR */
.left-Side-Bar::-webkit-scrollbar {
  width: 4px !important;
}

.left-Side-Bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.left-Side-Bar::-webkit-scrollbar-thumb {
background-color: #3f51b5;
  outline: 1px solid slategrey;
  border-radius: 10px !important;
}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {


}


/* // .orderupList-enter-active,
// .orderupList-leave-active {
//   transition: all 1s;
// }
// .orderupList-enter,
// .orderupList-leave-to {
//   opacity: 0;
//   transform: translateY(30px);
// } */



.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-move {
  transition: transform 1s;
}

.fruit-list-move {
  transition: transform 1s;
}
.fruit-table-move {
  transition: transform 1s;
}